body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
@font-face {
font-family: "EVO Bold";
	src: url("css/fonts/EVO-Bold.otf");
}
@font-face {
	font-family: "Evolve Bold";
	src: url("css/fonts/Evolve-bold.otf");
}
@font-face {
font-family: "EVO Regular";
	src: url("css/fonts/EVO-Regular.otf");
}
@font-face {
	font-family: "Evolve Regular";
	src: url("css/fonts/Evolve-Regular.otf");
}
@font-face {
font-family: "EVO Thin";
	src: url("css/fonts/EVO-Thin.otf");
}
@font-face {
	font-family: "Evolve Thin";
	src: url("css/fonts/Evolve-Thin.otf");
}
@font-face {
	font-family: "Evolve Light";
	src: url("css/fonts/Evolve-Light.otf");
}
@font-face {
font-family: "EVO Medium";
	src: url("css/fonts/EVO-Medium.otf");
}
@font-face {
	font-family: "Evolve Bold";
	src: url("css/fonts/Evolve-Medium.otf");
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
.section{
	text-align:center;
}
h1 {
font-family: 'EVO Thin', Arial, sans-serif;
font-weight:normal;
font-style:normal;
text-transform: uppercase;
font-size: 4rem;
color: white;
margin: 1.25rem 0;
}
.alb-item1 h1 {margin: 1.0rem 0; font-size: 3rem; font-weight: bold;}
.alb-item1 a {display: block;}

h3 {
font-family: 'EVO Thin', Arial, sans-serif;
font-weight:normal;
font-style:normal;
text-transform: uppercase;
font-size: 2rem;
color: #00FDEF;
margin: 1.0rem 0;
}
h4 {
font-family: 'EVO Thin', Arial, sans-serif;
font-weight:normal;
font-style:normal;
text-transform: uppercase;
font-size: 2rem;
color: white;
margin: 1.0rem 0;
}
p {	font-family: 'EVO Regular', Arial, sans-serif;}

.cover-container {
	background: url(images/151581-shea-butter-baby.jpg);
	    height: 30em;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    background-position: center;
	    background-repeat: no-repeat;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
	background-color: rgb(255, 255, 255, .65)!important;
}

.grid-container {
  display: grid;
  grid-column-gap: 15px;
	grid-template-columns: auto auto auto auto;
	align-content: center;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.item1 {
	grid-column: 1 / 5;
}
.item2 {
	grid-column: 1 / 3;
	grid-row: 2 / 3;
}
.item3 {
	grid-column: 1 / 3;
	grid-row: 3 / 4;
}
.item4 {
  grid-column: 3 / 5;
  grid-row: 2 / 4;
}
.item5 {
  grid-column: 1 / 5;
}

.box1 {padding-top: 1rem;}
.box2 {padding-top: 2em;}
.box4 {position: relative; grid-column: 1 / 5;}

.alb-num  {
	font-family: 'EVO Bold', Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 15rem;
	color: white;
	padding: 0 15px;
	position: absolute;
	top: -25px;
	left: 0px;
	opacity: .2;
}

.alb-title {
	font-family: 'Evolve Medium', Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	font-size: 4rem;
	color: white;
	padding: 0 15px;
}

.alb-artist, .alb-acc  {
	font-family: 'EVO Regular', Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	font-size: 3rem;
	padding: 0 15px;
	color: #00FDEF;
}

.alb-date  {
	font-family: 'Evolve Light', Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	padding: 0 15px;
	font-size: 2rem;
	color: rgb(255, 255, 255, .65);
}

.alb-genre  {
	font-family: 'EVO Regular', Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	padding: 0 15px;
	font-size: 3rem;
	color:#CF0975;
}

.alb-desc {padding: 0 2rem; font-size: 1.5rem; color: white;}
/*.responsive {
	width: 450px;
  max-width: 100%;
  height: auto;
}*/

.alb-img {
  /* The image used */
  	background: url(images/151581-shea-butter-baby.jpg);
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.img-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 20px;
    text-align: center;
}


.section {
			background: #000 url(images/SVG/wu_illustration_42.svg) no-repeat center;
	    background-position: center;
	    background-repeat: no-repeat;
			background-size: cover;
}
.section:nth-child(1) {background: none !important;}
.section:nth-child(2) {background: #000 url(images/SVG/wu_illustration_42.svg) no-repeat center; background-size: cover;}
.section:nth-child(3) {background: #000 url(images/SVG/wu_illustration_55.svg) no-repeat center; background-size: cover;}
.section:nth-child(4) {background: #000 url(images/SVG/wu_illustration_24.svg) no-repeat center; background-size: cover;}
.section:nth-child(5) {background: #000 url(images/SVG/wu_illustration_50.svg) no-repeat center; background-size: cover;}
.section:nth-child(6) {background: #000 url(images/SVG/wu_illustration_39.svg) no-repeat center; background-size: cover;}
.section:nth-child(7) {background: #000 url(images/SVG/wu_illustration_30.svg) no-repeat center; background-size: cover;}
.section:nth-child(8) {background: #000 url(images/SVG/wu_illustration_46.svg) no-repeat center; background-size: cover;}
.section:nth-child(9) {background: #000 url(images/SVG/wu_illustration_42.svg) no-repeat center; background-size: cover;}
.section:nth-child(10) {background: #000 url(images/SVG/wu_illustration_41.svg) no-repeat center; background-size: cover;}
.section:nth-child(11) {background: #000 url(images/SVG/wu_illustration_85.svg) no-repeat center; background-size: cover;}

.link {
  cursor: url('https://malc-v.github.io/top-2019-albums/images/SVG/noun_Headphones.png') 4 4, pointer;
}

.wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  height: 100%;
	background-color: rgb(0,0,0, .8);
}
.box1 {grid-row: 1 / 2; grid-column: 1 / 5;}
.box2 {grid-row: 2 / 3; grid-column: 1 / 5;}
.box3 {grid-row: 3 / 4; grid-column: 1 / 5;}
.box5 {grid-row: 4 / 5; grid-column: 1 / 5;}
.box6 {grid-row: 5 / 6; grid-column: 1 / 5;}

@media (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    /*height: 100%*/
  }

  .box1 { grid-column: 1 / 5; grid-row: 1 / 2; }
  .box2 { grid-column: 1 / 3; grid-row: 2 / 3; }
  .box3 {grid-column: 1 / 3; grid-row: 3 / 4;}
  .box4 { grid-column: 3 / 5; grid-row: 2 / 4; margin: auto;}
  .box5 { grid-column: 1 / 5; grid-row: 4 / 5;}
}

.nested1, .nested2, .nested3, .nested4, .nested5,
.nested6, .nested7, .nested8, .nested9, .nested10  {
  padding: 2em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 450px;
  height: auto;
  margin: auto;
}
.nested-vid {padding: 2em;}

.nested10 {background: url(images/cover-art/cover-black-moses.jpg);}
.nested9 {background: url(images/cover-art/cover-soul-trash.jpg);}
.nested8 {background: url(images/cover-art/cover-shea-butter-baby.jpg);}
.nested7 {background: url(images/cover-art/cover-slimerre.jpg);}
.nested6 {background: url(images/cover-art/cover-igor.jpg); }
.nested5 {background: url(images/cover-art/cover-die-for-mine.jpg); }
.nested4 {background: url(images/cover-art/cover-diaspora.jpg);}
.nested3 {background: url(images/cover-art/cover-revenge3.jpg);}
.nested2 {background: url(images/cover-art/cover-so-much-fun.jpg);}
.nested1 {background: url(images/cover-art/cover-bandana.jpg);}

.nested1, .nested2, .nested3, .nested4, .nested5,
.nested6, .nested7, .nested8, .nested9, .nested10 {
	box-shadow:
	5px 5px rgba(147, 147, 147, 0.4),
	10px 10px rgba(147, 147, 147, 0.3),
	15px 15px rgba(147, 147, 147, 0.2),
	20px 20px rgba(147, 147, 147, 0.1),
	25px 25px rgba(147, 147, 147, 0.05);
}

.nested img, .nested1 img, .nested2 img {max-width: 100%}

.cover {max-width: 100%;}

/* Mobile Sizes*/

@media (max-width: 500px) {
	.alb-num {float: none; top: -25px; left: 40px;}
	.alb-title {font-size: 1.8rem; display: block;}
	.alb-artist {font-size: 1.5rem; display: inline-block; padding: 0 5px;}
	.alb-genre {font-size: 1.5rem; display: inline-block; padding: 0 5px;}
	.alb-date {font-size: 1.5rem;}
	.alb-desc {font-size: 1.0rem; padding: 0 1rem;}
	.alb-desc p {margin-bottom: 0.5em;}
	.alb-acc {font-size: 1.5rem;}
	.box1 {padding-top: .5rem;}
	.box3 {padding-top: .5rem;}
	.box2 {padding-top: 0em;}
	.box4 {grid-column: 1 / 5; grid-row: 4 / 5; }
	.box5 {grid-row: 5 / 6; grid-column: 1 / 5;}
	.nested {width: 350px;}
	.nested1, .nested2, .nested3, .nested4, .nested5,
	.nested6, .nested7, .nested8, .nested9, .nested10  {
	  padding: 1em;
	  max-width: 275px;
	}
	.section:nth-child(11) .alb-genre, .section:nth-child(11) .alb-artist {
		 padding: 0 5px;
		 font-size: 2.0rem;
	}
	.section:nth-child(5) .alb-genre, .section:nth-child(5) .alb-artist {
		 padding: 0 5px;
		 font-size: 1.75rem;
	}
}


/* Homepage Trails CSS Desktop */

 .grid-container-home {
	 display: grid;
	 grid-template-columns: 25% 25% 25% 25%;
   padding: 20px 10px 10px 10px;
   width: 100%;
   height: 100%;
}
.alb-item1, .alb-item2, .alb-item3, .alb-item4, .alb-item5, .alb-item6,
.alb-item7, .alb-item8, .alb-item9, .alb-item10, .alb-item11 {
	padding: 10px;
	text-align: center;
}

.alb-item2 {grid-row: 1 / 2; grid-column: 1 / 2}
.alb-item3 {grid-row: 1 / 2; grid-column: 2 / 3}
.alb-item4 {grid-row: 1 / 2; grid-column: 3 / 4}
.alb-item5 {grid-row: 1 / 2; grid-column: 4 / 5}

.alb-item6 {grid-row: 2 / 3; grid-column: 1 / 2}
.alb-item1 {grid-row: 2 / 3; grid-column: 2 / span 2; }
.alb-item7 {grid-row: 2 / 3; grid-column: 4 / 5}

.alb-item8 {grid-row: 3 / 4; grid-column: 1 / 2}
.alb-item9 {grid-row: 3 / 4; grid-column: 2 / 3}
.alb-item10 {grid-row: 3 / 4; grid-column: 3 / 4}
.alb-item11 {grid-row: 3 / 4; grid-column: 4 / 5}

/* Homepage Trails CSS Mobile */

@media (max-width: 500px) {
.alb-item1 h1 {font-size: 2rem; margin: .50rem 0;}
.h1 {font-size: 1.25rem !important; line-height: 1.25rem !important; padding-top: 0; margin: .25rem 0;}
.h3 {font-size: 1.0rem !important; line-height: 1.25rem !important; margin: 0 !important;}
.link {margin: .5rem 0 !important;}
button {margin: 10px !important;}

.grid-container-home {
	display: grid;
	grid-template-columns: 50% 50%;
	padding: 0px 10px 10px 10px;
	width: 100%;
	height: 100%;
}
.alb-item1, .alb-item2, .alb-item3, .alb-item4, .alb-item5, .alb-item6,
.alb-item7, .alb-item8, .alb-item9, .alb-item10, .alb-item11 {
 padding: 0px;
 text-align: center;
}

.alb-item1 {grid-row: 1 / 2; grid-column: 1 / span 2;}

.alb-item2 {grid-row: 2 / 3; grid-column: 1 / 2}
.alb-item3 {grid-row: 2 / 3; grid-column: 2 / 3}

.alb-item4 {grid-row: 3 / 4; grid-column: 1 / 2;}
.alb-item5 {grid-row: 3 / 4; grid-column: 2 / 3;}

.alb-item6 {grid-row: 4 / 5; grid-column: 1 / 2}
.alb-item7 {grid-row: 4 / 5; grid-column: 2 / 3}

.alb-item8 {grid-row: 5 / 6; grid-column: 1 / 2}
.alb-item9 {grid-row: 5 / 6; grid-column: 2 / 3}

.alb-item10 {grid-row: 6 / 7; grid-column: 1 / 2}
.alb-item11 {grid-row: 6 / 7; grid-column: 2 / 3}

}

/* Button Styles */

button {
	display: inline-flex;
  font-size: 1.0em;
  height: 45px;
  width: 200px;
  border: 2px solid #fff;
  margin: 20px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgb(0,0,0, .85);
  font-family: 'Evolve Regular', Arial, sans-serif;
}

.btn-5 {
  border: 0 solid rgb(0,0,0, .85);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
	z-index: 99;
}

.btn-5:hover {
  border: none;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  text-shadow: 1px 1px 2px #427388;
	cursor: pointer;
	transition: 0.5s;
	font-family: 'EVO Regular', Arial, sans-serif;
	z-index: 99;
}

a {
  color: #BFC0C0;
  text-decoration: none;
  letter-spacing: 1px;
}

#scroll {visibility: hidden;}
.hide-me {
  visibility: hidden;
  opacity: 0;
  transform: scale(.75);
}

.show-me {
  visibility: visible !important;
}
